<article class="callout-article">
    <header class="callout-header">
        <h1 class="callout-title">{{ page.title }}</h1>
    </header>
    <div class="callout-body">
        <div class="scroll-content">
            {{ page.content }}
        </div>
    </div>
    <footer class="callout-footer">
    </footer>
</article>