 <div class="fullsize-image-bg">
    <div class="flexslider">
      <ul class="slides">
        <li class="slide-holder">
          <img src="{{ 'shop_landing_bg.jpg' | asset_url }}" alt="" class="slide-image">
        </li>
      </ul>
    </div>
</div>
<nav class="shop-nav clearfix">
	<div class="shop-nav-container">
	    <ul class="l-horizontal-nav">
	        {% for link in linklists.shop-navigation.links %}
	            <li><a href="/pages/products#{{ link.title | handleize }}" title="{{ link.title }}">{{ link.title }}</a></li>
	        {% endfor %}
	    </ul>
	</div>
</nav>
