<div class="main-product-holder">
      <img src="{{ "City_1_V1.png" | asset_url | }}" alt="">
    </div> 
<div class="container l-product-page clearfix">
    <article>
      <section class="l-product-col product-info">
        <header>
          <h1 class="product-name">Product Name</h1>
        </header>
        <p class="price">$1,000.00</p>
        <div class="product-description">
          <p>Ro veriorrovid quis eiundandit, untisit, nis aspievndel eosanderis sint in porem estotat as cus est eri nonseribus atem sum idebita deliciis ullis es volupta dolu.</p> </div> <a href="/page.shop" class="shop-link">Back to Shop</a>
        <div class="add-to-cart-btn">
          <a href="#">Add to Cart</a>
        </div>
        <a href="#" class="product-link prev">&lt; Previous Product</a>
      </section>
      <secion class="l-product-col product-images">
        <a href="#"><img src="http://placehold.it/60x60" alt=""></a>
        <a href="#"><img src="http://placehold.it/60x60" alt=""></a>
        <a href="#"><img src="http://placehold.it/60x60" alt=""></a>
        <a href="#"><img src="http://placehold.it/60x60" alt=""></a>
        <a href="#"><img src="http://placehold.it/60x60" alt=""></a>
        <a href="#"><img src="http://placehold.it/60x60" alt=""></a>
        <a href="#" class="product-link next">Next Product &gt;</a>
      </section>  
    </article>
    
</div>